* {box-sizing: border-box;}

@media (min-width: 768px){
 /* .row{
    display: flex;
 } */

 img{
    padding-right: 1rem;
 }
}

@media (min-width:320px) and (max-width: 768px){
  .row{
    position: relative;
    bottom: 25rem;
  }

  h5{
    position: relative;
    bottom: 25rem;
  }
}

.column {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.brainflix, .bandsite{
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  opacity:1;
}

@media (min-width: 320px) and (max-width: 768px){
    .brainflix{
      height: 84vh;
      width: 100vw;
    }

    .always-eating-well{
      height: 84vh;
      width: 100vw;
    }

    .bandsite{
      height: 84vh;
      width: 100vw;
    }

    .portfolio-container{
      position: relative;
      top: 23rem;
    }

    #brainflix-overlay{
      position: absolute;
      top: 147px;
      left: 4rem;
      font-size: 0.8rem;
    }

    #bandsite-overlay{
      position: absolute;
      top: 115px;
      left: 4rem;
      font-size: 0.8rem;
    }

    #always-eating-well-overlay{
      position: absolute;
      top: 125px;
      left: 5rem;
      font-size: 0.8rem;
    }
}

@media(min-width: 375px){
  .brainflix, .bandsite, .always-eating-well{
    padding-right: 1rem;
  }
}

@media(min-width:525px){
  .brainflix, .bandsite, .always-eating-well{
    width:90vw;
    height:95vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .brainflix{
    height: 80vh;
    padding-right: 1rem;
  }

  .always-eating-well{
    height: 80vh;
    position: relative;
    left: 0rem;
  }

  .bandsite{
    height: 80vh;
    position: relative;
    left: 0rem;
  }

  .portfolio-container{
    position: relative;
    top: -3rem;
  }

  h5{
    position: relative;
    bottom: 27rem;
  }

  #brainflix-overlay{
    position: absolute;
    top: 135px;
    left: 9rem;
    font-size: 0.8rem;
  }

  #bandsite-overlay{
    position: absolute;
    top: 115px;
    left: 8rem;
    font-size: 0.8rem;
  }

  #always-eating-well-overlay{
    position: absolute;
    top: 125px;
    left: 9rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) and (max-width:1440px){
  .brainflix, .bandsite, .always-eating-well{
    width: 100vw;
    height: 89vh;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  #brainflix-overlay{
    position: absolute;
    top: 216px;
    left: 17rem;
    font-size: 1.4rem;
  }

  #bandsite-overlay{
    position: absolute;
    top: 200px;
    left: 17rem;
    font-size: 1.4rem;
  }

  #always-eating-well-overlay{
    position: absolute;
    top: 216px;
    left: 17rem;
    font-size: 1.4rem;
  }

  .portfolio-container{
    position: relative;
    top: -3rem;
  }
}

@media (min-width: 1440px) and (max-width: 2560px){
  #brainflix-overlay{
    position: absolute;
    top: 266px;
    left: 26rem;
    font-size: 1.4rem;
  }

  #bandsite-overlay{
    position: absolute;
    top: 236px;
    left: 26rem;
    font-size: 1.4rem;
  }

  #always-eating-well-overlay{
    position: absolute;
    top: 266px;
    left: 26rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 2560px){
  .brainflix, .bandsite, .always-eating-well{
    width: 38vw;
    height: 58vh;
    padding-bottom: 5rem;
    padding-top: 1rem;
  }

  .portfolio-container{
    position: relative;
    top: 0rem;
  }

  #brainflix-overlay{
    position: absolute;
    top: 296px;
    left: 17rem;
    font-size: 1.8rem;
  }

  #bandsite-overlay{
    position: absolute;
    top: 265px;
    left: 17rem;
    font-size: 1.8rem;
  }

  #always-eating-well-overlay{
    position: absolute;
    top: 296px;
    left: 17rem;
    font-size: 1.8rem;
  }
}

.brainflix:hover, .bandsite:hover, .always-eating-well:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    opacity: 0.5;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.column:hover .overlay {
  opacity: 1;
}

img{
    padding-bottom: 2rem;
}

h5{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* @media (min-width:320px){
  h5{
    position: relative;
    bottom: 28rem;
  }
} */